VITE_API_URL=http://localhost:5000/api
VITE_FESTIVAL_WEBHOOK_URL=https://api.agents.snsihub.ai/webhook-test/forecast/festival-intelligence
VITE_AI_FESTIVAL_FILTERS_URL=https://api.agents.snsihub.ai/webhook/9a0b471a-a890-481e-b519-4b0bf5b8b923
VITE_AI_FESTIVAL_FORECAST_URL=https://api.agents.snsihub.ai/webhook/ai-festival-forecasting
